nav.responsive-nav {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -1px;
     
    ul {
        box-shadow: .6px .8px 10px 5px rgba(221, 221, 221, 0.7);
        height: 100%;
        width: 300px;
        left: -240px;
        position: fixed;
        background: white;
        display: flex;
        flex-direction: column;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
        transition: .4s ease all;

        &.active {
            left: 0px;
        }

        figure {
        padding-top: 15px;
        padding-bottom: 50px;
        display: flex;
        justify-content: flex-end;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 10px;
        cursor: pointer;
        }
   
        li {
            list-style-type: none;
            }
        a {
            text-decoration: none;
            color: rgb(59, 59, 59);
            font-weight: 800;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 19px 0px 19px;
            height: 60px;
        }

        i {
            font-size: 30px;
            align-items: center;
            display: flex;
        }

        .hoverIndex:hover {
            background: #29abe2;
            transition: .3s ease all;
            color:white;
        }
    }

}

@media screen and (max-width: 800px) {
    
}